@page "/"
@page "/{MyNumber}"
@using EllaSciFair.Data
@using EllaSciFair.Models
@using HashidsNet
@inject ISignUpRepository repoSignUp
@inject ITakeANumberRepository repoTakeANum
@inject NavigationManager navMan
@inject IJSRuntime JS
@inject IHashids hashIds

    <PageTitle>Ella Science Fair</PageTitle>

    <div class="wrapper">
        <div class="title">360 Photo Booth</div>
        <EditForm Model="@formModel" OnValidSubmit="@OnRegister" action="#">
            <div class="signForm">
                @if (mySignup != null)
                {
                    <div class="field">
                        <h4>Current Person's Number: @takeANumber?.CurrentNumber</h4>
                    </div>
                    @if (string.IsNullOrEmpty(mySignup?.FileName))
                    {
                        <h3>Your Number: @mySignup?.Id </h3>
                    }
                    else
                    {
                        <div>Your Video has been procesed.</div>
                        <div>Please wait for your email.</div>
                        <div class="field">
                            <input type="button" @onclick="DownloadFileFromStream" value="Download">
                        </div>
                        <div> @errMsg</div>
                    }
                }
                @if (mySignup == null)
                {
                    <div class="field">
                        <h1>Sign Up</h1>
                    </div>
                    <div class="field">
                        <input type="text" required @bind-value="@formModel.Name">
                        <label class="fieldlabel">Full Name</label>
                    </div>
                    <div class="field">
                        <input type="Email" required @bind-value="@formModel.Email">
                        <label class="fieldlabel">Email Address</label>
                    </div>

                    <div class="field">
                        <input type="checkbox" @bind="@formModel.IsPublic">
                        <label class="cblabel">Public</label>
                    </div>

                    <div class="field">
                        <input type="submit" value="Register">
                    </div>
                }
                else
                {

                    <div class="field">
                        <input type="button" @onclick="OnNewSignup" value="New Sign In">
                    </div>

                    <div class="field">
                        <input type="button" @onclick="OnRefresh" value="Refresh">
                    </div>
                }

                <div>
                    <a href="/public">Public Videos</a>
                </div>
            </div>
        </EditForm>
    </div>

