@page "/main"
@using EllaSciFair.Data
@inject ISignUpRepository repoSignUp
@inject ITakeANumberRepository repoTakeANum

@if (CurrentPerson != null)
{
    <p>
        <h1>@CurrentPerson.Email</h1>
        <h1>@CurrentPerson.Name</h1>
        <h1>@CurrentPerson.Id</h1>
        <button @onclick="OnRecordVideo">Start Recording</button>
    </p>
}
@if (SignupQueue != null)
{
    <table>
        @foreach (var signUp in SignupQueue)
        {
            <tr>
                <th>
                    <a  href="javascript: void(0);" @onclick="@(()=> {OnSelectId(signUp);})">@signUp.Id</a>
                </th>
                <th>
                    @signUp.Name
                </th>
                <th>
                    @signUp.Email
                </th>
            </tr>
        }
    </table>
}
@code
 {
     TakeANumber? takeANumber;
     SignUp? CurrentPerson;
     List<SignUp>? SignupQueue;
    protected override void OnAfterRender(bool firstRender)
    {
        SignupQueue = repoSignUp?.GetOpenSignUps()?.ToList();
        takeANumber = repoTakeANum.Get();
        base.OnAfterRender(firstRender);
        StateHasChanged();
    }
    void OnSelectId(SignUp signUp)
    {
        if (takeANumber == null)
        {
            return;
        }
        CurrentPerson = signUp;
        takeANumber.CurrentNumber = signUp.Id;
        repoTakeANum.Update(takeANumber);
        StateHasChanged();
    }
    void OnRecordVideo() 
    {
        
    }
}